@font-face {
    font-family: Dense;
    src: url(../webfonts/dense/Dense-Regular.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../webfonts/roboto/Roboto-Light.ttf);
}

:root {
    --brand-primary: #AF170B;
    --brand-secondary: #ED583A;
    --brand-accent: #D42A1C;
}

html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    height: 100%;
}

.navbar-brand {
    cursor: pointer;
}

.brand-title {
    letter-spacing: 4px;
    font-weight: lighter;
    font-family: Roboto;
}

.nav-item a {
    color: var(--brand-secondary);
}

.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.search-bar {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.form-search-depto {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.form-search-depto-small {
    margin-top: 0;
}

.form-search-depto form {
    width: 100%;
}

.form-search-depto form div label {
    font-family: Roboto;
    color: var(--brand-secondary);
}

.form-search-depto form div select {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    font-family: Roboto;
}

.form-search-depto form div select:focus {
    border-radius: 5px;
}

.legend-months {
    color: var(--brand-accent);
}

.logo-home {
    background-image: url('../img/DGestLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 230px;
}

.logo-home-small {
    height: 100px;
}

/* Footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer span {
    font-size: 12px;
}

.footer span a i {
    color: #E35448;
}


/* Animations
-------------------------------------------------- */
.fadeIn {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.color-primary-0 {
    color: #AF170B
}

/* Main Primary color */

.color-primary-1 {
    color: #E35448
}

.color-primary-2 {
    color: #D42A1C
}

.color-primary-3 {
    color: #910B00
}

.color-primary-4 {
    color: #6B0800
}