@font-face {
    font-family: Dense;
    src: url(../webfonts/dense/Dense-Regular.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../webfonts/roboto/Roboto-Light.ttf);
}

:root {
    --brand-primary: #AF170B;
    --brand-secondary: #ED583A;
    --brand-third: #F3BE4F;
    --brand-accent: #D42A1C;
}

html,
body {
    height: 100%;
    margin: 0;
}

.main-container {
    height: 100%;
}

.btn-primary {
    background-color: var(--brand-third);
    border-color: var(--brand-third);
}

.btn-primary:hover {
    background-color: var(--brand-secondary);
    border-color: var(--brand-secondary);
}
.btn-primary:focus {
    box-shadow: none !important; 
}

.btn-primary:active {
    background-color: var(--brand-accent) !important;
    border-color: var(--brand-primary) !important;
    box-shadow: none !important;
}

.navbar-brand {
    cursor: pointer;
}

.brand-title {
    letter-spacing: 4px;
    font-weight: lighter;
    font-family: Roboto;
}

.nav-item a {
    color: var(--brand-secondary);
}

.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.search-bar {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.form-search-depto {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.form-search-depto-small {
    margin-top: 0;
}

.form-search-depto form {
    width: 100%;
}

.form-search-depto form div label {
    font-family: Roboto;
    color: var(--brand-secondary);
}

.form-search-depto form div select {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    font-family: Roboto;
}

.form-search-depto form div select:focus {
    border-radius: 5px;
    border-color: var(--brand-accent);
    box-shadow: 0 0 1pt 0 var(--brand-accent); 
    outline: none;
}

.legend-months {
    margin-top: 10px;
}
.legend-months p i {
    color: var(--brand-accent);
}

.logo-home {
    background-image: url('../img/DGestLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 230px;
}

.logo-home-small {
    height: 100px;
}

.day-reserved {
    background-color: var(--brand-accent) !important;
    opacity: 0.7 !important;
}

.spinner-calendar {
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.card {
    max-width: 350px;
}

.card-img-top {
    min-height: 277px;
}
/* Footer styles
-------------------------------------------------- */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer span {
    font-size: 12px;
}

.footer span a i {
    color: #E35448;
}

/* Animations
-------------------------------------------------- */

.fadeIn {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Media Queries
----------------------------------------------------*/
@media only screen and (max-width: 720px) {
    .logo-home {
        display: none;
    }
    .card-img-top {
        min-height: auto;
    }
}




